<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <nav>
    <a href="/"> <button>Home</button>  </a>
    <a href="/about">about</a>
    <a href="/lessons">lessons</a>
    <a href="/lessons/approved/si">Lecciones aprobadas</a>
    <a href="/lessons/approved/no">Lecciones no aprobadas</a>
    <br>
    <a href="/perritos/aleatorio">Ver perrito aleatorio</a>
    <a href="/perritos/lista-de-razas">Ver</a>
  </nav>

  {{{ body }}}

</body>
</html>

<!-- Esta será la plantilla inicial de todas nuestras vistas -->