<div>

  <h1>Detalles un perrito aleatorio</h1>

  {{!-- <div>
    <h2>Imagen de perrito</h2>
    <img src={{this.imagen}} alt="" width="300px">
    <p>Este es el mejor perrito del mundo. 10/10</p>
  </div> --}}

  <div>
  <h2>Foto de perrito</h2>
  <img src="{{this}}" alt="perrito" width="300px">
  <p>El mejor perrito del mundo 10/10</p>
</div>

</div>